*, *::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ebedee;
    font-family: 'Heebo', sans-serif;
    color: #3B4252;
}


.gamePlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}  


.btn {
    height: 140px;
    width: 140px;
    border: 5px solid #3B4252;
    border-radius: 20px;
    margin: 0 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


#rock {
    background: url(./assets/fist.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}


#paper {
    background: url(./assets/hand.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}


#scissors {
    background: url(./assets/scissors.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}


.tie {
    border: 5px solid #EBCB8B;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    box-shadow: 0 0 1rem #EBCB8B;
    transition-duration: 1s;
}


.winner {
    border: 5px solid #A3BE8C;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    box-shadow: 0 0 1rem #A3BE8C;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


.loser {
    border: 5px solid #BF616A;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    box-shadow: 0 0 1rem #BF616A;
    transition-duration: 1s;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.computerField, .userField {
    display: flex;
}


.user > h2, .computer > h2 {
    font-size: 2em;
    margin-bottom: 20px;
}


.score > h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}


.results p {
    font-size: 2.2rem;
} 


#comments p {
    text-align: center;
    margin-top: 80px;
    font-size: 2rem;
}


.playAgain {
    text-align: center;
    margin-top: 50px;
}


#reset {
    padding: 10px 24px;
    font-family: 'Heebo', sans-serif;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 3px solid #3B4252;
    background-color: inherit;
    visibility: hidden;
}


#reset:hover {
    background-color: #88C0D0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


@media (max-width: 1199px){
    h1 {
        margin-top: 60px;
        margin-bottom: 30px;
    }    
    .gamePlay {
        flex-direction: column;
        align-items: center;
        
   }
   .user > h2, .computer > h2 {
       margin-bottom: 25px;
   }
   section.score {
        margin: 30px 0;
   }
   #comments p {
        margin-top: 50px;
   }
   .playAgain {
        margin-top: 20px;
    }
}


@media (max-width: 767px){
    h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    } 
    .btn{
        height: 120px;
        width: 120px;
        margin: 0 8px;
    }
    .user > h2, .computer > h2 {
        margin-bottom: 20px;
    }
    .playAgain {
        margin-top: 40px;
    }
}

@media (max-width: 411px){
    body {
        height: 100vh;
    }
    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2.5em;
    } 
    .btn{
        height: 110px;
        width: 110px;
        margin: 0 8px;
    }

   
}